<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/render">
  <label for="url">URL:</label><br>
  <input type="text" id="url" name="url" value="google.com"><br>
  <input type="submit" value="Submit">
</form> 